[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mkdocs-material = "*"
markdown-include = "*"
twine = "*"

[packages]
fastapi-users = {git = "file:///home/enchance/stash/Development/repos/fastapi-users/.git", ref = "stable"}
tortoise-orm = {extras = ["asyncpg"], version = "*"}
limeutils = "*"
fastapi-authcontrol = {path = "."}
pytest = "*"

[requires]
python_version = "3.8"
